.content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.content ul #arrow {
  margin: 0 40px 0 0;
  font-size: 80px;
  cursor: pointer;
  color: #fff4;
}

.content ul #arrow.right {
  margin: 0 0 0 40px;
}

.content ul li.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  width: 85vw;
  max-width: 500px;
  height: 90vh;
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px #fff4;

  background-color: #2f2f2f;

  opacity: 0;
  display: none;

  transition: opacity .5s;
}

.content ul li img#profile {
  display: block;
  width: 150px;
  border-radius: 50%;
}

.content ul li #profile-data {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content ul li #profile-data h2 {
  font-size: 34px;
}

.content ul li #profile-data p {
  font-size: 17px;
  line-height: 22px;
}

.content ul li.info #profile-data {
  width: 100%;
  height: 100%;
}

.content ul li.info #profile-data dl {
  flex: .75;
  display: flex;
  flex-direction: column;
}

.content ul li.info #profile-data img {
  min-width: 100px;
  display: flex;
  margin: 0 auto;
  width: 40%;
}

.content ul li.info #profile-data dd {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 5%;
  line-height: 40px;
  text-align: left;
}

dt {
  margin: 15px 0;
}

strong {
  font-size: 19px;
}

.content ul li #networks {
  width: 255px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content ul li #networks span a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 75px;
  height: 60px;
}

.content ul li #networks span img {
  width: 30px;
  height: 40px;
}
