.content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.content ul #arrow {
  margin: 0 40px;
  font-size: 80px;
  cursor: pointer;
}

.content ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  width: 85vw;
  max-width: 500px;
  height: 90vh;
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px #fff4;

  background-color: #2f2f2f;

  opacity: 0;
  display: none;

  transition: opacity .5s;
}

.content ul li img#profile {
  display: block;
  width: 150px;
  border-radius: 50%;
}

.content ul li #profile-data {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content ul li #profile-data h2 {
  font-size: 34px;
}

.content ul li #profile-data p {
  font-size: 17px;
  line-height: 22px;
}

strong {
  font-size: 19px;
}

.content ul li #networks {
  width: 255px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content ul li #networks span a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 75px;
  height: 60px;
}

.content ul li #networks span img {
  width: 30px;
  height: 40px;
}
