body.light {
  background-color: #F0F0F5;
}

.light #theme label {
  color: #2F2F2F;
}

.light #info-dev,.light #credits {
  color: rgba(47, 47, 47, .5);
}

.light #info-dev {
  color: rgba(47, 47, 47, .2);
}

.light .content {
  color: #2F2F2F;
}

.light .content ul #arrow {
  color: #0009;
}
.light .content ul li.card {
  box-shadow: 0 0 8px #0006;
  background-color: #dbd3f3;
}

@media (max-width: 700px) {
  .light .content ul #arrow {
    background-color: #dbd3f3;
  }

  .light .content ul #arrow:hover {
    box-shadow: 0 0 8px #0006;
  }
}

@media (max-height: 650px) {
  
}
