body {
  background-color: #000;
  font-family: 'Oxygen', sans-serif;
  transition: background-color .4s, color .4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color .4s, color .4s;
}

a {
  color: currentColor;
  text-decoration: none;
}

strong {
  font-size: 19px;
}

li {
  list-style: none;
}

#theme {
  z-index: 3;
  position: absolute;
  right: 5vw;
  top: 35px;
}

#theme button#theme-selector {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  
  background-color: #565666;
  cursor: pointer;
}

#theme button#theme-selector:focus {
  outline: none;
}

#theme button#theme-selector img {
  width: 35px;
}

#info-dev, #credits {
  color: #fff5;
  position: absolute;
  z-index: 20;
}

#info-dev {
  color: #fff2;
  font-size: 24px;
  text-align: center;
  top: 5px;
  left: 0;
  right: 0;
  pointer-events: none;
}

#credits {
  bottom: 7px;
  left: 10vw;
}

#credits a {
  padding: 7px 0;
}


.initial-content {
  background-color: #7A89C2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 1s;
  z-index: 10;
  color: #f0f0f5;
  cursor: pointer;
}

.initial-content h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 56px;
  text-align: center;
  margin-top: 35vh;
  position: relative;
}

.initial-content.active {
  opacity: 0;
  z-index: 0;
}

.content {
  text-align: center;
  color: #f0f0f5;
}
