* {
  scroll-behavior: smooth;
}
body {
  background-color: #2F2F2F;
  color: #F2F2F2;
  font-family: 'Oxygen', sans-serif;

  background-color: #12232E;
  background-image: radial-gradient(circle, #1D3442, transparent);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.8;
}
a {
  color: #F2F2F2;
  transition-property: color;
  transition-duration: 1.2s;
  transition-timing-function: ease;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #A2A2A2;
  border-radius: 8px;
}
::-webkit-scrollbar-corner {
  width: 0;
  height: 0;
}
strong {
  font-size: 19px;
}
li {
  list-style: none;
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 24px;
  margin: 10px 0;
}
h3 {
  font-size: 20px;
  margin: 10px 0;
}
h3 {
  font-size: 18px;
}
p {
  font-size: 16px;
}

.content {
  height: 100vh;
  overflow-y: hidden;
  margin: 0 8vw;
  padding: 50px 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px
}
.content header {
  height: 80vh;
}
.content header h2 {
  width: 60%;
}
.content header p {
  width: 45%;
  min-width: 250px;
}
.content main {
  overflow-y: scroll;
  padding-right: 15px;
}
nav {
  margin-top: 50px;
}
nav ul li {
  color: #AFAFAF;
  width: fit-content;
  padding: 10px 0;
  padding-left: 40px;
  position: relative;
  transition: padding 0.2s;
}
nav ul a {
  color: #AFAFAF;
  padding: 10px 0;
}
nav ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 2px;
  background-color: #AFAFAF;
  transition: width 0.2s;
}
nav ul li:hover, nav ul li.active{
  color: #2F2F2F;
  padding-left: 65px;
}
nav ul li:hover, nav ul li.active {
  color: #FFF;
}
nav ul li:hover::before, nav ul li.active::before {
  background-color: #FFF;
  width: 55px;
}

ul#redes {
  width: 50%;
  margin-top: 50px;
  display: flex;
  align-items: center;
}
ul#redes li {
  margin-right: 25px;
}
ul#redes img {
  width: 35px;
}

main section + section {
  margin-top: 45px;
}
main section h3 {
  padding-left: 40px;
  position: relative;
}
main section h3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 55%;
  width: 25px;
  height: 2px;
  background-color: #FFF;
}
main section p {
  padding-top: 14px;
}

main section .card dt {
  color: #AFAFAF;
}
main section .card h5 {
  font-size: 16px;
  font-weight: bold;
  color: #AFAFAF;
}

main section .card {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 6px;
  border-radius: 6px;
  padding: 25px 15px;
  margin: 15px 0;
  transition: background-color .3s;
}
main section .card:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #FFF1;
  padding: 24px 14px;
}
main section .card .tags {
  margin: 15px 0;
}
main section .card .tags span {
  font-size: 12px;
  margin: 3px 2px;
  margin-bottom: 4px;
  display: inline-block;
  color: #0FF;
  background-color: #0FF2;
  padding: 3px 12px;
  border-radius: 15px;
  font-weight: bold;
  width: fit-content;
}
main section#projetos .card img {
  margin-top: 10px;
}
main section#projetos .card h4 {
  font-size: 14px;
}
main section#projetos .card p {
  line-height: 1.4;
  padding: 15px 0;
}

main section#projetos .card .links {
  display: flex;
  padding-bottom: 0;
  margin: 0 15px;
}
main section#projetos .card .links p {
  padding-bottom: 0;
}
main section#projetos .card .links a {
  margin-right: 20px;
  padding-bottom: 0;
}