@media (max-width: 700px) {
  .content ul {
    display: block;
  }
  .content ul li.card {
    margin: 5vh auto;
    height: 75vh;
    padding: 25px 10px;
  }

  .content ul #arrow {
    display: block;
    font-size: 30px;
    margin: 0;
    position: absolute;
    bottom: 50px;
    left: 9vw;
    
    background-color: #2f2f2f;
    padding: 5px 50px;
    border-radius: 10px;
  }

  .content ul #arrow.right {
    left: unset;
    right: 9vw;
  }

  .content ul li #profile-data h2 {
    font-size: 28px;
  }

  .content ul li #profile-data {
    height: 200px;
  }

  .content ul li #profile-data div {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

@media (max-height: 639px) {
  .content ul li.card {
    height: 67vh
  }
  .content ul li img#profile {
    width: 100px;
  }

  .content ul li #profile-data {
    height: 120px;
  }

  .content ul li #profile-data h2 {
    font-size: 25px;
  }

  .content ul li #profile-data p {
    font-size: 14px;
  }

  .content ul li #profile-data strong {
    font-size: 16px;
  }

  .content ul #arrow {
    bottom: 45px;
    padding: 5px 50px;
  }

  .content ul li.info #profile-data img {
    display: none;
  }

  .content ul li.info #profile-data dt {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content ul li.info #profile-data dt span {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .content ul li.info #profile-data dt#backend span {
    background: url('../assets/back-end.png') no-repeat center;
    background-size: cover;
  }
  
  .content ul li.info #profile-data dt#frontend span {
    background: url('../assets/front-end.png') no-repeat center;
    background-size: cover;
  }
}
